---
// Footer UI displayed on each page.
import LocalesHomeList from "@/components/i18n/LocalesHomeList.astro";
---

<footer class="w-full text-center py-6 text-sm">
  <a
    class="text-center"
    href="https://toolharbor.top"
    target="_blank"
    dir="ltr"
  >
    © {new Date().getFullYear()} toolharbor.top
  </a>
  <div class="space-x-4 mt-2">
    <a href="/en/doc/terms-of-service" target="_blank" dir="ltr">Terms of Service</a>
    <a href="/en/doc/privacy-policy" target="_blank" dir="ltr">Privacy Policy</a>
  </div>
</footer>

<style></style>
